asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2024.7.4
charset-normalizer==2.0.7
Django==4.2.17
django-bootstrap4==3.0.1
docopt==0.6.2
idna==3.7
pipreqs==0.4.12
pytz==2021.3
requests==2.32.2
soupsieve==2.2.1
sqlparse==0.5.0
urllib3==1.26.19
yarg==0.1.9
