<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop und Dienstleistung Rating App</title>
</head>
<body>
<p>
{% if user.is_authenticated %}
    Hallo {{ user.username }}.
    <a href="{% url 'users:logout' %}">Abmelden</a>
{% else %}
    <a href="{% url 'users:login' %}">Anmelden</a>
    <a href="{% url 'users:register' %}">Registrieren</a>
{% endif %} </p>
<p>
    <a href="{% url 'rating_app:index' %}">Rating App</a>
    <a href="{% url 'rating_app:shops' %}">Geschäfte</a>
</p>
{% block content %}{% endblock content %}

</body>
</html>