{% extends 'rating_app/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Melde Dich an Deinem Benutzerkonto an.</h2>
{% endblock page_header %}

{% block content %}
  <form method="post" action="{% url 'users:login' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button name="submit" class="btn btn-primary">Anmelden</button>
      {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'rating_app:index' %}" />
  </form>

{% endblock content %}